# Acorn 0.4.2 from 0.4.1 (bundled)

```
running around 71690 tests with 4 threads...
[==================================================] 71690/71690 100% | 0s left | R:24, F:0, N:0

finished running 69154 tests
Saving results for future comparison...
Results:
  es5: 14970/21400 (69%) passed
  es6: 2008/18974 (10%) passed
  es: 5165/27965 (18%) passed
  other: 117/814 (14%) passed
New:
  es5: 0/21400
  es6: 0/18974
  es: 0/27965
  other: 0/814
Fixes:
  es5: 0/21400
  es6: 0/18974
  es: 0/27965
  other: 0/814
Regressions:
  es5: 0/21400
  es6: 24/18974
  es: 0/27965
  other: 0/814
